<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">
			<div class="page-title">
				<img src="/assets/testresult.png">All Devices
			</div>

			<div class="error-top">
				<div class="error-top-left">
					<div class="total-report-brief">
						<div class="apk-name"><b><%= @total_report.apk_name %></b></div>
						<div class="brief-left">
							<div class="app-version">
								<p>App Version</p>
								<p class="app-version-big"><%= @total_report.app_version %></p>
							</div>
						</div>
						<div class="brief-right">
							<p><%= @total_report.test_date %></p>
							<p><%= @total_report.number_of_scenarios %> Test scenarios</p>
							<p><%= @total_report.number_of_devices %> Devices</p>
						</div>
					</div>
				</div>
				
			</div>

			<div id="all-device-filter" class="filter"></div>

			<div class="device-error-list"></div>
			<div class="paginator">
				<span>Page &#171;</span>
				<span class="paginator_list"></span>
				<span>&#187;</span>
			</div>
		</div>
	</div>
</div>

<script>
generateFilter("all-device-filter",
	["os_version","device"],
	"/api/v1/total_reports/<%= @total_report.id %>/filter",
	"/api/v1/total_reports/<%= @total_report.id %>/device_report_list",
	allDevicesTable
);
d3.json("/api/v1/total_reports/<%= @total_report.id %>/device_report_list",function (err, data) {
	allDevicesTable(data)
});
</script>

<!-- apk name : <%= @total_report.apk_name %>
app verison : <%= @total_report.app_version %>
test data : <%= @total_report.test_date %>
test scenarios : <%= @total_report.number_of_scenarios %>
devices : <%= @total_report.number_of_devices %>
/api/v1/total_reports/<%= @total_report.id %>/device_report_list -->