<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">
			<div class="page-title">
				<img src="/assets/scenario.png">Test Scenarios
			</div>

			<div id="scenario-list-filter" class="filter"></div>
			<div class="table-wrapper">
			<table id="scenario-list" class="scenario-list-table"></table>
			</div>
		</div>
	</div>
</div>

<script>
d3.json("/api/v1/test_scenarios?project_id=<%= @project.id %>", function (err, data) {
	console.log(data);
	testScenarioList(data);
})
generateFilter(
	"scenario-list-filter",
	["rank","name"],
	"/api/v1/test_scenarios/filter?project_id=<%= @project.id %>",
	"/api/v1/test_scenarios?project_id=<%= @project.id %>",
	testScenarioList
);

// filter /api/v1/test_scenarios/filter?project_id=<%= @project.id %>
// getJSON /api/v1/test_scenarios?project_id=<%= @project.id %>
</script>
