<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">
			<div class="page-title">
				<img src="/assets/scenario.png">Test Scenarios
			</div>

			<div id="scenario-list-filter" class="filter"></div>
			<table class="scenario-list-table">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Description</th>
					<th>Recently tested on</th>
					<th></th>
				</tr>
				<!-- LOOP -->
				<% @test_scenarios.each do |test_scenario| %>
					<tr>
						<td><div class="rank <%= test_scenario.get_rank %>"><%= test_scenario.get_rank %></div></td>
						<td style="text-align: center;"><%= test_scenario.name %></td>
						<td><%= test_scenario.description %></td>
						<td style="text-align: center;"><%= test_scenario.recent_test_date %></td>
						<td>
							<%= link_to project_test_scenario_path(@project, test_scenario) do %>
								<div class="show-button"></div>
							<% end %>
						</td>
					</tr>
				<% end %>
				<!-- END LOOP -->
			</table>
		</div>
	</div>
</div>

<script>
generateFilter("scenario-list-filter",null,null);
</script>
