<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>
		
		<div class="col-md-12 contents">
			<div class="test-scenario-head">
				<img src="/assets/scenario_sidebar.png">Test Scenarios
			</div>

			<div id="scenario_info_detail" >
				<div class="scenario_info_title">
					<div class="rank"><%= @test_scenario.get_rank %></div>
					<div class="test_name"><%= @test_scenario.name %></div>
					<div class="edit_button"><%= link_to "Edit", "#", data: {toggle: "modal", target: "#edit"},class: "btn btn-info" %></div>
				</div>
				<div class="detail_content"><%= @test_scenario.description %></div>
				<div class="recently_tested">recently tested on: <%= @test_scenario.recent_test_date %></div>
			</div>

			<span class="dashboard_sub">Event Path</span>
			<div id="scenario_event_path">
				<div id="scenario_event_chart">
				</div>
			</div>
			<%= nested_form_for([@project, @test_scenario]) do |f| %>
			  <table class="table">
			  	<tr>
			  		<th>Num</th>
			  		<th>Activity</th>
			  		<th>View</th>
			  		<th>Event Type</th>
			  		<th>Parameter</th>
			  	</tr>
					<%= f.fields_for :motion_events do |builder| %>
						<tr>
				  		<th><%= builder.object.seq_id %></th>
				  		<th><%= builder.object.activity_class %></th>
				  		<th><%= builder.object.view %></th>
				  		<th><%= builder.object.action_type %></th>
				  		<th><%= builder.text_field :param %></th>
				  	</tr>
					<% end %>
			  </table>

			  <div class="actions">
			    <%= f.submit 'Save Changes', class: "btn btn-info event-edit-button" %>
			  </div>
			<% end %>
		</div>
	</div>
	
</div>

<script>
	d3.json("http://127.0.0.1:3000/testdata.json",drawEventFlow);
</script>

