<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>
		
		<div class="col-md-12 contents">
			<div class="page-title">
				<img src="/assets/scenario.png">Test Scenarios
			</div>

			<div class="scenario-info" >
				<div class="scenario-info-title">
					<span class="scenario-rank"><%= @test_scenario.get_rank %></span>
					<span class="scenario-name"><%= @test_scenario.name %></span>
					<%= link_to edit_project_test_scenario_path(@project, @test_scenario) do%>
						<div class="edit-button"></div>
					<% end %>
				</div>
				<div class="detail_content"><%= @test_scenario.description %></div>
				<div class="recently_tested">recently tested on: <%= @test_scenario.recent_test_date %></div>
			</div>

			<span class="page-subtitle">Event Path</span>
			<div class="event-flow">
				<div id="event-flow-inner"></div>
			</div>

			<div class="edit-button"></div>
			<%= nested_form_for([@project, @test_scenario]) do |f| %>
			  <table class="motion-events-table">
			  	<tr>
			  		<th>Activity</th>
			  		<th>View</th>
			  		<th>Event Type</th>
			  		<th>Parameter</th>
			  	</tr>
					<%= f.fields_for :motion_events do |builder| %>
						<tr>
				  		<th><%= builder.object.activity_class %></th>
				  		<th><%= builder.object.view %></th>
				  		<th><%= builder.object.action_type %></th>
				  		<th><%= builder.text_field :param %></th>
				  	</tr>
					<% end %>
			  </table>

			  <div class="actions">
			    <%= f.submit 'Save Changes', class: "btn btn-info event-edit-button" %>
			  </div>
			<% end %>
		</div>
	</div>
	
</div>

<%= javascript_tag do %>
	d3.json("/api/v1/test_scenarios/<%= @test_scenario.id %>/motion_event_list",drawEventFlow);
<% end %>

