<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>
		
		<div class="col-md-12 contents">
			<div class="test-scenario-head">
				<img src="/assets/scenario_sidebar.png">Test Scenarios
			</div>

			<div id="scenario_info_detail" >
				<div class="scenario_info_title">
					<div class="rank"><%= @test_scenario.get_rank %></div>
					<div class="test_name"><%= @test_scenario.name %></div>
					<div class="edit_button">edit</div>
				</div>
				<div class="detail_content"><%= @test_scenario.description %></div>
				<div class="recently_tested">recently tested on: <%= @test_scenario.recent_test_date %></div>
			</div>

			<span class="dashboard_sub">Event Path</span>
			<div id="scenario_event_path">
				<div id="scenario_event_chart">
				</div>
			</div>
			
			<table id="event_detail" class="table table-bordered table-condensed">
				<tr id="event_detail_scheme" class="row">
					<td class="col-md-1">Num</td>
					<td class="col-md-4">Activity</td>
					<td class="col-md-2">View</td>
					<td class="col-md-3">Event Type</td>
					<td class="col-md-2">Parameter</td>
				</tr>
				<!-- LOOP -->
				<% @motion_events.each do |motion_event| %>
					<tr class="row">
						<td><%= motion_event.seq_id %></td>
						<td><%= motion_event.activity_class %></td>
						<td><%= motion_event.view %></td>
						<td><%= motion_event.action_type %></td>
						<td><%= motion_event.param %></td>
					</tr>
				<% end  %>
				<!-- END LOOP -->
		</div>
	</div>
	
</div>

<script>
	d3.json("http://127.0.0.1:3000/testdata.json",drawEventFlow);
</script>