<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>
		
		<div class="col-md-12 contents">
			<div class="page-title">
				<img src="/assets/scenario.png">Test Scenarios
			</div>

			<div class="scenario-info" >
				<div class="scenario-info-title">
					<span class="scenario-rank"><%= @test_scenario.get_rank %></span>
					<span class="scenario-name"><%= @test_scenario.name %></span>
					<!--<%= link_to "Edit", "#", data: {toggle: "modal", target: "#edit"} %>-->
					<div class="edit-button"></div>
				</div>
				<div class="detail_content"><%= @test_scenario.description %></div>
				<div class="recently_tested">recently tested on: <%= @test_scenario.recent_test_date %></div>
			</div>

			<span class="page-subtitle">Event Path</span>
			<div class="scenario-event-wrapper">
				<div id="scenario_event_inner">
				</div>
			</div>

			<div class="edit-button"></div>
			<%= nested_form_for([@project, @test_scenario]) do |f| %>
			  <table class="motion-events-table">
			  	<tr>
			  		<th>Num</th>
			  		<th>Activity</th>
			  		<th>View</th>
			  		<th>Event Type</th>
			  		<th>Parameter</th>
			  	</tr>
					<%= f.fields_for :motion_events do |builder| %>
						<tr>
				  		<th><%= builder.object.seq_id %></th>
				  		<th><%= builder.object.activity_class %></th>
				  		<th><%= builder.object.view %></th>
				  		<th><%= builder.object.action_type %></th>
				  		<th><%= builder.text_field :param %></th>
				  	</tr>
					<% end %>
			  </table>

			  <div class="actions">
			    <%= f.submit 'Save Changes', class: "btn btn-info event-edit-button" %>
			  </div>
			<% end %>
		</div>
	</div>
	
</div>

<script>
	d3.json("http://127.0.0.1:3000/testdata.json",drawEventFlow);
</script>

