<%= render "shared/header" %>

<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'shared/side_bar' %>
    <div class="col-md-12 contents">
      
      <div class="page-title">
        <img src="/assets/Result.png">Test Results
      </div>
      <div class="below-page-title">Test Results > Full Report</div>

      <% unless @total_report.status %>
        <div class="progress progress-striped active">
          <div class="progress-bar" id="test-progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          </div>
        </div>

        <%= javascript_tag do %>
          //progressUpdate(<%= @total_report.id %>);
        <% end %>
      <% end %>

      <div class="filter">
        <div class="filter-field">
          <div class="filter-key">Rank</div>
          <div class="filter-value">
            <span class="filter-value-each"><input type="checkbox" name="rank" value="all">All</span>
            <span class="filter-value-each"><input type="checkbox" name="rank" value="a">A</span>
            <span class="filter-value-each"><input type="checkbox" name="rank" value="b">B</span>
            <span class="filter-value-each"><input type="checkbox" name="rank" value="c">C</span>
            <span class="filter-value-each"><input type="checkbox" name="rank" value="d">D</span>
          </div>
        </div>
        <div class="filter-field">
          <div class="filter-key">Status</div>
          <div class="filter-value">
          <span class="filter-value-each"><input type="checkbox" name="status" value="all">All</span>
            <span class="filter-value-each"><input type="checkbox" name="status" value="fail">Fail</span>
            <span class="filter-value-each"><input type="checkbox" name="status" value="warning">Warning</span>
            <span class="filter-value-each"><input type="checkbox" name="status" value="pass">Pass</span>
          </div>
        </div>
        <div class="filter-field">
          <div class="filter-key">OS Version</div>
          <div class="filter-value">
            <span class="filter-value-each"><input type="checkbox" name="os_version" value="all">All</span>
            <span class="filter-value-each"><input type="checkbox" name="os_version" value="pass">Pass</span>
            <span class="filter-value-each"><input type="checkbox" name="os_version" value="pass">Pass</span>
            <span class="filter-value-each"><input type="checkbox" name="os_version" value="pass">Pass</span>
          </div>
        </div>
        <div class="filter-field">
          <div class="filter-key">Device</div>
          <div class="filter-value">blah4</div>
        </div>
        <div class="filter-field">
          <div class="filter-key">Test Name</div>
          <div class="filter-value">blah5</div>
        </div>
      </div>

      <table id="test-result-list">
        <tr>
          <th>Rank</th>
          <th>Status</th>
          <th>Test Scenario</th>
          <th>Device</th>
          <th>OS Version</th>
          <th>Running Time</th>
          <th>-</th>
        </tr>
        
      </table>
    </div>
  </div>  
</div>


<%= javascript_tag do %>
  $.getJSON('/api/v1/total_reports/<%= @total_report.id %>/detail_report_list',function(data){
    detailReportList(data);
  });
<% end %>

</script>
