<%= render "shared/header" %>
<%= render 'shared/side_bar' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <tr>
          <th>Rank</th>
          <th>Status</th>
          <th>Test Scenario</th>
          <th>Device</th>
          <th>OS Version</th>
          <th>Running Time</th>
        </tr>
        <% @detail_reports.each do |detail_report| %>
          <tr onclick="location.href='<%= total_report_detail_report_path(@total_report, detail_report) %>'">
            <td><%= detail_report.rank %></td>
            <td><%= detail_report.get_status %></td>
            <td><%= detail_report.test_scenario_name %></td>
            <td><%= detail_report.device_name %></td>
            <td><%= detail_report.os_version %></td>
            <td><%= detail_report.get_running_time %></td>
          </tr>
        <% end  %>
      </table>
    </div>
  </div>  
</div>

