<%= render "shared/header" %>

<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'shared/side_bar' %>
    <div class="col-md-12 contents">
      
      <div class="page-title">
        <img src="/assets/Result.png">Test Results
      </div>
      <div class="below-page-title">Test Results > Full Report</div>

      <% unless @total_report.status %>
        <div class="progress progress-striped active">
          <div class="progress-bar" id="test-progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          </div>
        </div>

        <%= javascript_tag do %>
          //progressUpdate(<%= @total_report.id %>);
        <% end %>
      <% end %>

      <div id="detail-report-list-filter" class="filter"></div>

      <div class="table-wrapper">
        <table id="test-result-list">
        </table>
      </div>
    </div>
  </div>
</div>


<%= javascript_tag do %>
  $.getJSON('/api/v1/total_reports/<%= @total_report.id %>/detail_report_list',function(data){
    detailReportList(data);
  });
  generateFilter(
    "detail-report-list-filter",
    ["rank","status","os_version","device","name"],
    "/api/v1/total_reports/<%= @total_report.id %>/filter",
    "/api/v1/total_reports/<%= @total_report.id %>/detail_report_list",
    detailReportList
  );
<% end %>
