<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">

			<div class="page-title">
				<img src="/assets/Result.png">Test Result
			</div>
			<div class="below-page-title">Test Result > Full Report > Detail Report</div>

			<div class="detail-report row">
				<div class="event-screenshot col-md-8">
					<span class="page-subtitle">Event Path</span>
					<div class="event-screenshot-wrapper">
						<div id="event-screenshot-inner"></div>
					</div>
				</div>
				<div class="summary-area col-md-4">
					<span class="page-subtitle">Report Overview</span>
					<div class="row">
						<div class="col-md-4">
							<p class="summary-key">Scenario Name</p>
							<p class="summary-value"><%= @detail_report.test_scenario_name %></p>
						</div>
						<div class="col-md-4">
							<p class="summary-key">Device Name</p>
							<p class="summary-value"></p>
						</div>
						<div class="col-md-4">
							<p class="summary-key">App Version</p>
							<p class="summary-value"><%= @detail_report.app_version %></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<p class="summary-key">Date&Time</p>
							<p class="summary-value"></p>
						</div>
						<div class="col-md-4">
							<p class="summary-key">Status</p>
							<p class="summary-value"></p>
						</div>
						<div class="col-md-4">
							<p class="summary-key">Running Time</p>
							<p class="summary-value"></p>
						</div>
					</div>
					<div class="summary-block col-md-6">Memory Average : <%= @detail_report.memory_average %></div>
					<div class="summary-block col-md-6">CPU Average : <%= @detail_report.cpu_average %></div>
					<div class="summary-block col-md-6">Network Average : <%= @detail_report.network_average %></div>
					<div class="summary-block col-md-6">Battery Average : <%= @detail_report.battery_consumption %></div>
					<div class="summary-block col-md-6">Threads Average : <%= @detail_report.threads_average %></div>
					<div class="summary-block col-md-6">Frame Draw Time : <%= @detail_report.frame_draw_time_average %></div>
				</div>
			</div>
			<div class="detail-report-charts">
				<div id="cpu-chart" class="col-md-4"></div>
				<div id="mem-chart" class="col-md-4"></div>
			</div>
		</div>
	</div>
</div>

<%= javascript_tag do %>
	//d3.json("/api/v1/detail_reports/<%= @detail_report.id %>/get_report_infos",drawDetailReports);
	d3.json("http://127.0.0.1:3000/testdata.json",drawDetailReports);
<% end %>