<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">

			<div class="page-title">
				<img src="/assets/Result.png">Test Result
			</div>
			<div class="below-page-title">Test Result > Full Report > Detail Report</div>

			<div class="detail-report">
				<div class="event-screenshot col-md-7">
					<span class="page-subtitle">Event Path</span>
					<div class="event-screenshot-wrapper">
						<div id="event-screenshot-inner"></div>
					</div>
				</div>
				<div class="summary-area col-md-5">
					<span class="page-subtitle">Report Overview</span>
					<div class="summary-row">
						<div class="col-md-4">
							<p class="summary-key">Scenario Name</p>
							<p class="summary-value"><%= @detail_report.test_scenario_name %></p>
						</div>
						<div class="col-md-4">
							<p class="summary-key">Device Name</p>
							<p class="summary-value"><%= @detail_report.device_name %></p>
						</div>
						<div class="col-md-4">
							<p class="summary-key">App Version</p>
							<p class="summary-value"><%= @detail_report.app_version %></p>
						</div>
					</div>
					<div class="summary-row">
						<div class="col-md-4">
							<p class="summary-key">Date&Time</p>
							<p class="summary-value"><%= @detail_report.test_date %></p>
						</div>
						<div class="col-md-4">
							<p class="summary-key">Status</p>
							<p class="summary-value"><%= @detail_report.get_status %></p>
						</div>
						<div class="col-md-4">
							<p class="summary-key">Running Time</p>
							<p class="summary-value"><%= @detail_report.get_running_time %></p>
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-md-6">
							<div class="summary-block">
								<p class="summary-key">Memory Average</p><%= @detail_report.memory_average %>
							</div>
						</div>
						<div class="col-md-6">
							<div class="summary-block">
								<p class="summary-key">CPU Average</p><%= @detail_report.cpu_average %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="summary-block">
								<p class="summary-key">Network Average</p><%= @detail_report.network_average %>
							</div>
						</div>
						<div class="col-md-6">
							<div class="summary-block">
								<p class="summary-key">Battery Average</p><%= @detail_report.battery_consumption %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="summary-block">
								<p class="summary-key">Threads Average</p><%= @detail_report.threads_average %>
							</div>
						</div>
						<div class="col-md-6">
							<div class="summary-block">
								<p class="summary-key">Frame Draw Time</p><%= @detail_report.frame_draw_time_average %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="detail-report-charts">
				<div id="cpu-chart" class="detail-report-chart-each">
					<div class="chart-title">CPU Usage</div>
				</div>
				<div id="mem-chart" class="detail-report-chart-each">
					<div class="chart-title">Memory Usage</div>
				</div>
				<div id="battery-chart" class="detail-report-chart-each">
					<div class="chart-title">Battery Usage</div>
				</div>
				<div id="draw-time-chart" class="detail-report-chart-each">
					<div class="chart-title">Frame Draw Time</div>
				</div>
				<div id="network-chart" class="detail-report-chart-each">
					<div class="chart-title">Network Usage</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_tag do %>
	d3.json("/api/v1/detail_reports/<%= @detail_report.id %>/get_report_infos",drawDetailReports);
	//d3.json("http://127.0.0.1:3000/testdata.json",drawDetailReports);
<% end %>