<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">
			
			<div class="page-title">
				<img src="/assets/Result.png">Crash Report
			</div>
			<div class="below-page-title">Test Result > Full Report > Crash Report</div>
			<!-- TODO: subline // Test Results > Full Report -->

			<span class="page-subtitle">Error Summary</span>
			<div class="error-summary">
				<div class="status-icon"></div>
				<div class="error-line">
					<h5><%= @crash.error_name %></h5>
					<span><%= @crash.error_line %></span>
				</div>
			</div>
			
			<div class="crash-graph">
				<p>Test rank Rate <%= @crash.test_rank_rate %></p>
				<p>OS Version <%= @crash.os_version_rate %></p>
				<p>Device <%= @crash.device_rate %></p>
				<p>Country <%= @crash.country_rate %></p>
				<div id="test-rank-rate" class="crash-graph-each"></div>
				<div id="os-version-rate" class="crash-graph-each"></div>
				<div id="device-rate" class="crash-graph-each"></div>
				<div id="country-rate" class="crash-graph-each"></div>
			</div>
			
			<span class="page-subtitle">Stack Trace</span>
			<div class="stack-trace">
				<%= @crash.description %>
			</div>
			<span class="page-subtitle">Event Path</span>
			<div class="event-path">
			</div>

			<span class="page-subtitle">Detail Reports</span>
			<div class="detail-report-list">
				<table class="detail-report-list-table">
					<thead>
						<tr>
							<th>Rank</th>
							<th>Test Name</th>
							<th>OS Version</th>
							<th>Device</th>
							<th>Country</th>
							<th></th>
						</tr>
					</thead>
					<% @detail_reports.each do |detail_report| %>
						<tbody>
							<tr>
								<td><div class="rank <%= detail_report.rank %>"><%= detail_report.rank %></div></td>
								<td><%= detail_report.test_scenario_name %></td>
								<td><%= detail_report.os_version %></td>
								<td><%= detail_report.device_name %></td>
								<td><%= detail_report.device_country %></td>
								<td><%= link_to "Show", total_report_detail_report_path(@total_report,detail_report), class: "btn btn-primary" %></td>
							</tr>
						</tbody>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>