<div class="sidebar">
	<div class="project_app">
		<%= image_tag @project.get_icon %>
		<p><%= @project.name %></p>
	</div>
	
	<div class="sidebar_menu">
		<div class="divider"></div>
		<div class="menu"><span class="image_span"><img src="/assets/dashboard.png"></span><%= link_to "Dashboard", project_path(@project) %></div>
		<div class="divider"></div>
		<div class="menu"><span class="image_span"><img src="/assets/starttest.png"></span><%= link_to "File Upload", new_project_apk_path(@project) %></div>
		<div class="divider"></div>
		<div class="menu"><span class="image_span"><img src="/assets/testresult.png"></span><%= link_to "Test Results", project_total_reports_path(@project) %></div>
		<div class="divider"></div>
		<div class="menu"><span class="image_span"><img src="/assets/scenario.png"></span><%= link_to "Test Scenarios", project_test_scenarios_path(@project) %></div>
		<div class="divider"></div>
	</div>  
</div>