<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>

		<div class="col-md-12 contents">
			<div class="page-title">
	    		<p><img src="/assets/Result.png">Test results</p>
	    	</div>
	    	<!-- <div class="page-table-header row">
	    		<div class="col-md-2">Test Info</div>
	    		<div class="col-md-2">App Version</div>
	    		<div class="col-md-6">Test Success/Fail</div>
	    		<div class="col-md-2">Full Report</div>
	    	</div> -->
			<% @total_reports.each do |total_report| %>
			<div class="test-result">
				<div class="col-md-2 app-info-box">
					<p><%= total_report.apk_name %></p>
					<p><%= total_report.test_date %></p>
					<p><%= total_report.number_of_scenarios %> Test Scenarios</p>
					<p><%= total_report.number_of_devices %> Devices</p>
				</div>
				<div class="col-md-2 app-version-box">
					<p>App version</p>
					<p class="big_version"><%= total_report.app_version %></p>	
				</div>
				<div class="col-md-6" id="test-fail-<%= total_report.id %>">
					<%= javascript_tag do %>
            $.getJSON("/api/v1/total_reports/<%= total_report.id %>/test_rank_status",function(data){
              var testdata = data;
              addColoredBandGraph("test-fail-<%= total_report.id %>",testdata);
            });
           <% end %>
				</div>
				<div class="col-md-2">
					<div class="report-link">
						<%= link_to project_total_report_path(@project, total_report) do %>
						<div class="full-report"></div>
						<% end %>
					</div>
				</div>
			</div>
	    	<% end %>
		</div>	
	</div>
</div>
