<%= render "shared/header" %>

<div class="row">
	<%= render 'shared/side_bar' %>
	<div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2">
		<div class="container">
	    	<div class="total_report_head">
	    		<p><img src="/assets/Result.png">Test results</p>
	    	</div>
	    	<% @total_reports.each do |total_report| %>
	    	<!--LOOP-->
	    	<div class="test_result">
	    		<div class="app_info_box">
	    			<p><%= total_report.apk_name %></p>
	    			<p><%= total_report.test_date %></p>
	    			<p><%= total_report.number_of_scenarios %> Test Scenarios</p>
	    			<p><%= total_report.number_of_devices %> Devices</p>
				</div>
				<div class="app_version_box">
					<p>App version</p>
					<p class="big_version"><%= total_report.app_version %></p>
				</div>
				<div id="test_fail_box_<%= total_report.id %>" class="test_fail_box">
					<!-- TEST_FAILURE_GRAPH_SVG<br>
					REQUIRES UNIQUE ID -->
				</div>
				<%= link_to project_total_report_path(@project, total_report) do %>
				<div class="report_link">
					<div class="link_button">FULL REPORT</div>
				</div>
				<% end %>
	    	</div>
	    	<% end %>
	    	<!--END LOOP-->

	    </div>
	</div>
</div>

<script>

var total_reports_data1 = {"A":[7,17],"B":[34,23],"C":[5,10],"D":[2,19]};
var total_reports_data2 = {"A":[6,18],"B":[19,13],"C":[4,9],"D":[6,11]};
var total_reports_data3 = {"A":[6,18],"B":[15,17],"C":[4,9],"D":[6,11]};


drawPies("#test_fail_box_1",total_reports_data1);
drawPies("#test_fail_box_2",total_reports_data2);
drawPies("#test_fail_box_3",total_reports_data3);


</script>