<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>

		<div class="col-md-12 contents">
			<div class="total-report-head">
	    		<p><img src="/assets/Result.png">Test results</p>
	    </div>
			<% @total_reports.each do |total_report| %>
		    	<!--LOOP-->
		    	<div class="test-result">
		    		<div class="col-md-2" id="app-info-box">
		    			<p><%= total_report.apk_name %></p>
		    			<p><%= total_report.test_date %></p>
		    			<p><%= total_report.number_of_scenarios %> Test Scenarios</p>
		    			<p><%= total_report.number_of_devices %> Devices</p>
		    		</div>
		    		<div class="col-md-2" id="app-version-box">
		    			<p>App version</p>
							<p class="big_version"><%= total_report.app_version %></p>	
		    		</div>
		    		<div class="col-md-6">
		    			
		    		</div>
		    		<div class="col-md-2">
		    			<%= link_to total_report_detail_reports_path(total_report) do %>
								<div class="report-link">
									<div class="link-button">FULL REPORT</div>
								</div>
							<% end %>
		    		</div>
		    	</div>
	    	<% end %>
	    	<!--END LOOP-->
		</div>	
	</div>
</div>

<script>

var total_reports_data1 = {"A":[7,17],"B":[34,23],"C":[5,10],"D":[2,19]};
var total_reports_data2 = {"A":[6,18],"B":[19,13],"C":[4,9],"D":[6,11]};
var total_reports_data3 = {"A":[6,18],"B":[15,17],"C":[4,9],"D":[6,11]};


drawPies("#test_fail_box_1",total_reports_data1);
drawPies("#test_fail_box_2",total_reports_data2);
drawPies("#test_fail_box_3",total_reports_data3);


</script>