<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">
			
			<div class="page-title">
				<img src="/assets/Result.png">Test Results
			</div>
			<!-- TODO: subline // Test Results > Full Report -->

			<!-- TEST INFORMATION -->
			<div class="test_information">
				<div class="test_app_icon">
					<img src="/assets/todaybreaker.png">
				</div>
				<div class="test_information_apk">
					<span class="app_name"><%= @total_report.apk_name %></span>
					<p>App version</p>
					<span class="ver"><%= @total_report.app_version %></span>
				</div>
				<div class="test_information_others">
					<p><%= @total_report.test_date %></p>
					<p><%= @total_report.number_of_scenarios %> Test scenarios</p>
					<p><%= @total_report.number_of_devices %> Devices</p>
				</div>
			</div>


			<!-- END TEST INFORMATION -->
			<!-- TEST RESULT SUMMARY -->
			<%= @total_report.test_rank_status %>
			<div class="test-result-half">
				<div class="band-chart-wrapper">
					<div class="band-chart-2by2">
						<div class='band-chart-segment'>
							<div class='band-chart-label A'>A</div>
							<div class='band-chart'>
								<div class='band-chart-success A'>
									<div class='band-chart-fail' style="width:20%"></div>
								</div>
							</div>
						</div>
						<div class='band-chart-segment'>
							<div class='band-chart-label B'>B</div>
							<div class='band-chart'>
								<div class='band-chart-success B'>
									<div class='band-chart-fail' style="width:20%"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="band-chart-2by2">
						<div class='band-chart-segment'>
							<div class='band-chart-label C'>C</div>
							<div class='band-chart'>
								<div class='band-chart-success C'>
									<div class='band-chart-fail' style="width:20%"></div>
								</div>
							</div>
						</div>
						<div class='band-chart-segment'>
							<div class='band-chart-label D'>D</div>
							<div class='band-chart'>
								<div class='band-chart-success D'>
									<div class='band-chart-fail' style="width:20%"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="band-chart-legend">
				</div>
			</div>
			<!-- END TEST RESULT SUMMARY -->

			<span class="page-subtitle">Test Errors</span>
			<div class="test-errors-list">
				<table class="table">
					<thead>
						<tr>
							<td>Rank</td>
							<td>Error Count</td>
							<td>Error Name</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<% @crashes.each do |crash| %>
						<tr>
							<td><%= crash.error_rank %></td>
							<td><%= crash.error_count %></td>
							<td><%= crash.error_name %></td>
							<td><%= link_to "Show", total_report_crash_path(@total_report, crash), class: "btn btn-primary" %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				
			</div>

			<span class="page-subtitle">Device Fail</span>
			<div id="test_fail_graph">
				<div id="test_fail_bar_graph">
				</div>
				<div id="test_fail_chart">
					<div class="table_title">
						<span id="table_title_rank" class="rank"></span>
						<span id="table_title_device_name" class="device_name"></span>
					</div>
					<table id="detail_table" class="detail_table">
						<!-- A PLACEHOLDER -->
					</table>
				</div>
			</div>

			<span class="page-subtitle">Performance Average</span>
				
			<div id="report-contents">
				<div class="avg-section">
					<div class="avg-category">Memory avg 20.00MB</div>
					<div class="max_min">
						<span class="max_min_left">Min 8.51Mb</span>
						<span class="max_min_right">Galaxy S4 (4.3)</span>
						<span class="max_min_left">Max 30.51Mb</span>
						<span class="max_min_right">Galaxy S (2.2)</span>
					</div>
				</div>
				<div class="avg-section">
					<div class="avg-category">CPU avg 11%</div>
					<div class="max_min">
						<span class="max_min_left">Min 9%</span>
						<span class="max_min_right">G Note 3 (4.4)</span>
						<span class="max_min_left">Max 41%</span>
						<span class="max_min_right">Galaxy S (2.2)</span>
					</div>
				</div>
				<div class="avg-section">
					<div class="avg-category">Network Response avg 41ms</div>
					<div class="max_min">
						<span class="max_min_left">Min 7ms</span>
						<span class="max_min_right">Galaxy S4 (4.3)</span>
						<span class="max_min_left">Max 415ms</span>
						<span class="max_min_right">Vega Racer (3.1)</span>
					</div>
				</div>
				
				<div class="avg-section">
					<div class="avg-category">Battery consumption normal</div>
					<div class="max_min">
						<span class="max_min_left">Display OK</span>
						<span class="max_min_right">Sound OK</span>
						<span class="max_min_left">Network OK</span>
						<span class="max_min_right">Etc OK</span>
					</div>
				</div>
				<div class="avg-section">
					<div class="avg-category">Threads avg 13.7</div>
					<div class="max_min">
						<span class="max_min_left">Min 9</span>
						<span class="max_min_right">Galaxy S4 (4.3)</span>
						<span class="max_min_left">Max 26</span>
						<span class="max_min_right">Galaxy S (2.2)</span>
					</div>
				</div>
				<div class="avg-section">
					<div class="avg-category">Frame draw time avg 11.27ms</div>
					<div class="max_min">
						<span class="max_min_left">Min 3ms</span>
						<span class="max_min_right">Galaxy S4 (4.3)</span>
						<span class="max_min_left">Max 57ms</span>
						<span class="max_min_right">Galaxy S (2.2)</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<%= javascript_tag do %>

d3.json("/api/v1/total_reports/<%= @total_report.id %>/device_failure_detail", function(data){
	var total_reports_show_data = data;
	drawDeviceFail(total_reports_show_data.device_failure_detail);
});

<% end %>
