<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">
			
			<div class="page-title">
				<img src="/assets/Result.png">Test Results
			</div>
			<div class="below-page-title">Test Results > Full Report</div>

			<div class="dashboard">
				<div class="dashboard-left">
					<div class="total-report-brief">
						<div class="apk-name"><b><%= @total_report.apk_name %></b></div>
						<div class="brief-left">
							<div class="app-version">
								<p>App Version</p>
								<p class="app-version-big"><%= @total_report.app_version %></p>
							</div>
						</div>
						<div class="brief-right">
							<p><%= @total_report.test_date %></p>
							<p><%= @total_report.number_of_scenarios %> Test scenarios</p>
							<p><%= @total_report.number_of_devices %> Devices</p>
						</div>
						<%= link_to total_report_detail_reports_path(@total_report) do %>
							<span class="more"><u>All Reports More</u></span>
						<% end %>
					</div>
					
					<div class="total-report-test-result">
						<p>Test Result</p>
						<div id="band-graph"></div>
						<% @total_report.test_rank_status.each do |v, k| %>
							<%=	javascript_tag do %>
								addBandGraph("<%= v.to_s %>",<%= k[0] %>,<%= k[1] %>);
							<% end %>
						<% end %>
						<div class="band-graph-legend">
							<img src="/assets/legend1.png">
						</div>
						<%= link_to tests_total_report_path(@total_report) do %>
							<div style="padding-right: 15px;"><span class="more"><u>All Tests More</u></span></div>
						<% end %>
					</div>
				</div>
				<div class="dashboard-right">
					<div class="subtitle-exception">
					<span class="page-subtitle">Test Errors</span></div>
					<div class="dashboard-test-error">
						<table class="test-error-table">
							<thead>
								<tr>
									<th>Rank</th>
									<th>Error Count</th>
									<th>Error Name</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @crashes.each do |crash| %>
								<tr>
									<td><%= crash.error_rank %></td>
									<td><%= crash.error_count %></td>
									<td><%= crash.error_name %></td>
									<td><%= link_to "Show", total_report_crash_path(@total_report, crash), class: "btn btn-primary" %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
						<%= link_to total_report_crashes_path(@total_report) do %><p class="more"><u>More Errors</u></p><% end %>
					</div>
				</div>
			</div>

			<div id="device-fail-all">
				<span class="page-subtitle">Device Fail</span>
				<div class="device-fail">
					<div id="test_fail_bar_graph">
					</div>
					<div class="test_fail_bar_graph_legend">
						<img src="/assets/legend2.png">
					</div>
					<div id="test_fail_chart">
						<div class="table_title">
							<span id="table_title_rank" class="test_rank"></span>
							<span id="table_title_device_name" class="device_name"></span>
						</div>
						<table id="detail_table" class="detail_table">
							<tr><td>click on bar graph left for more detail</td></tr>
						</table>
					</div>
					<%= link_to total_report_devices_path(@total_report) do %>
						<span class="more"><u>All Devices More</u></span>
					<% end %>
				</div>
			</div>

			<span class="page-subtitle">Performance Average</span>
				
			<div id="report-contents">
				<div class="avg-section">
					<div class="avg-category">Memory avg 20.00MB</div>
					<div class="max_min">
						<span class="max_min_left">Min 8.51Mb</span>
						<span class="max_min_right">Galaxy S4 (4.3)</span>
						<span class="max_min_left">Max 30.51Mb</span>
						<span class="max_min_right">Galaxy S (2.2)</span>
					</div>
				</div>
				<div class="avg-section">
					<div class="avg-category">CPU avg 11%</div>
					<div class="max_min">
						<span class="max_min_left">Min 9%</span>
						<span class="max_min_right">G Note 3 (4.4)</span>
						<span class="max_min_left">Max 41%</span>
						<span class="max_min_right">Galaxy S (2.2)</span>
					</div>
				</div>
				<div class="avg-section">
					<div class="avg-category">Network Response avg 41ms</div>
					<div class="max_min">
						<span class="max_min_left">Min 7ms</span>
						<span class="max_min_right">Galaxy S4 (4.3)</span>
						<span class="max_min_left">Max 415ms</span>
						<span class="max_min_right">Vega Racer (3.1)</span>
					</div>
				</div>
				
				<div class="avg-section">
					<div class="avg-category">Battery consumption normal</div>
					<div class="max_min">
						<span class="max_min_left">Display OK</span>
						<span class="max_min_right">Sound OK</span>
						<span class="max_min_left">Network OK</span>
						<span class="max_min_right">Etc OK</span>
					</div>
				</div>
				<div class="avg-section">
					<div class="avg-category">Threads avg 13.7</div>
					<div class="max_min">
						<span class="max_min_left">Min 9</span>
						<span class="max_min_right">Galaxy S4 (4.3)</span>
						<span class="max_min_left">Max 26</span>
						<span class="max_min_right">Galaxy S (2.2)</span>
					</div>
				</div>
				<div class="avg-section">
					<div class="avg-category">Frame draw time avg 11.27ms</div>
					<div class="max_min">
						<span class="max_min_left">Min 3ms</span>
						<span class="max_min_right">Galaxy S4 (4.3)</span>
						<span class="max_min_left">Max 57ms</span>
						<span class="max_min_right">Galaxy S (2.2)</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<%= javascript_tag do %>

d3.json("/api/v1/total_reports/<%= @total_report.id %>/device_failure_detail", function(data){
	var total_reports_show_data = data;
	drawDeviceFail(total_reports_show_data.device_failure_detail);
});

<% end %>


<script>

$(function () {
	$(".dashboard-right").css("height",$(".dashboard-left").css("height"));
})

// var testdata = {"A": [1,1],"C": [1,1]};
// drawBandGraph(testdata);

var device_failure_detail = [
	{
		"device_name":"Galaxy S2",
		"os_version":"2.3",
		"fail_data": {
			"A": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"B": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"C": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"D": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}]
		}
	},
	{
		"device_name":"LG Optimus",
		"os_version":"2.2",
		"fail_data":{
			"A": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"B": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"C": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"D": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}]
		}
	},
	{
		"device_name":"Nexus S",
		"os_version":"2.3",
		"fail_data":{
			"A": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"B": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"C": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"D": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}]
		}
	},
	{
		"device_name":"Nexus 7",
		"os_version":"4.4",
		"fail_data":{
			"A": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"B": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"C": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"D": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}]
		}
	},
	{
		"device_name":"Galaxy S4",
		"os_version":"4.3",
		"fail_data":{
			"A": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"B": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"C": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
			"D": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
				{"scenario_name":"login test","error_message":"out of memory error","link":"#"}]
		}
	}
]
</script>