<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">
			<div class="page-title">
				<img src="/assets/testresult.png">All Tests
			</div>

			<div class="error-top">
				<div class="error-top-left">
					<div class="total-report-brief">
						<div class="apk-name"><b><%= @total_report.apk_name %></b></div>
						<div class="brief-left">
							<div class="app-version">
								<p>App Version</p>
								<p class="app-version-big"><%= @total_report.app_version %></p>
							</div>
						</div>
						<div class="brief-right">
							<p><%= @total_report.test_date %></p>
							<p><%= @total_report.number_of_scenarios %> Test scenarios</p>
							<p><%= @total_report.number_of_devices %> Devices</p>
						</div>
					</div>
				</div>
				<div class="error-top-right">
					<div id="band-graph">Test Result</div>
					<% @total_report.test_rank_status.each do |v, k| %>
						<%=	javascript_tag do %>
							addBandGraph("<%= v.to_s %>",<%= k[1] %>,<%= k[0] %>);
						<% end %>
					<% end %>
				</div>
			</div>

			<div id="all-tests-filter" class="filter"></div>

			<table class="all-tests-table"></table>

		</div>
	</div>
</div>

<script>
generateFilter("all-tests-filter",
	["rank","status","name"],
	"/api/v1/total_reports/<%= @total_report.id %>/filter",
	"/api/v1/total_reports/<%= @total_report.id %>/test_report_list",
	allTestsTable
);
d3.json("/api/v1/total_reports/<%= @total_report.id %>/test_report_list",function (err, data) {
	allTestsTable(data)
});
allTestsStyleChange();
</script>

<!-- apk name : <%= @total_report.apk_name %>
app verison : <%= @total_report.app_version %>
test data : <%= @total_report.test_date %>
test scenarios : <%= @total_report.number_of_scenarios %>
devices : <%= @total_report.number_of_devices %>
<div id="band-graph"></div>
<% @total_report.test_rank_status.each do |v, k| %>
	<%=	javascript_tag do %>
		addBandGraph("<%= v.to_s %>",<%= k[0] %>,<%= k[1] %>);
	<% end %>
<% end %>
Tests Table List
/api/v1/total_reports/<%= @total_report.id %>/test_report_list
 -->