<%= render "shared/header" %>

<div class="container">
  <div class="page-title-project">
    <img src="/assets/Project_list.png">My projects list
     
        <div class="project-new" data-toggle="modal" data-target="#new-project-modal"></div>
     <%= link_to new_project_path do %><% end %>
  </div>

  <% @projects.each do |project| %>
    <div class="row">
      <div class="project_box">
        <div class="<%= project.get_color_band %>"></div>
        <div class="app_icon_box"><%= image_tag project.get_icon %></div>
        <div class="app_info_box">
          <p class="project_title"><%= link_to project.name, project_path(project) %></p>
          <% if project.recent_total_report %>
            <span class="date_version">Ver</span><%= project.recent_report_app_version %><br>
            <span class="date_version">Date</span><%= project.recent_report_test_date %>
          <% end %>
        </div>


        <% if project.recent_total_report %>
          <div class="test_fail_box">
            <p>Test Fail</p>
            <div id="test_fail_num"></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>


</div>

<div id="new-project-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <img src="/assets/add_new_project.png"><b>Add New Project</b>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Project Name" id="new-project-name">
        <div class="green-button" style="margin-top: 30px;">OK</div>
      </div>
    </div>
  </div>
</div>

<script>
  var testdata = {"A":[2,2],"C":[2,0],"D":[0,2]};
  addColoredBandGraph("test_fail_num",testdata);
</script>