<%= render "shared/header" %>

<div class="container">
  <div class="page-title">
    <img src="/assets/Project_list.png">My projects list
     <%= link_to new_project_path do %>
        <div class="project-new"></div>
     <% end %>
  </div>

  <% @projects.each do |project| %>
    <div class="row">
      <div class="project_box">
        <div class="<%= project.get_color_band %>"></div>
        <div class="app_icon_box"><%= image_tag project.get_icon %></div>
        <div class="app_info_box">
          <p class="project_title"><%= link_to project.name, project_path(project) %></p>
          <% if project.recent_total_report %>
            <span class="date_version">Ver</span><%= project.recent_report_app_version %><br>
            <span class="date_version">Date</span><%= project.recent_report_test_date %>
          <% end %>
        </div>


        <% if project.recent_total_report %>
          <div class="test_fail_box">
            <p>Test Fail</p>
            <div class="test_fail_num">
              <!-- RANK STATUS -->
              <% project.recent_report_rank_status.each do |key, array| %>
                <div class="test_fail_each" id="unique_id">
                  <div class="test_key <%= key %>"><%= key %></div>
                  <div class="test_success"><%= array[0] %>
                    <div class="test_fail <%= key %>" style="width:<%= array[0]/(array[0]+array[1])*100 %>%"><%= array[1] %></div>
                  </div>
                </div>
                <%= javascript_tag do %>
                  band_chart_exception('#unique_id',1);
                  if (<%= array[0] %> == 0) {
                    $('#unique_id').find('.test_fail').css('visibility','hidden');
                  }
                <% end %>
              <% end %>
              <!-- -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>


</div>

<script>
</script>
