<div class="container">
  <h1>My projects list</h1>

  <% @projects.each do |project| %>
  <div class="project_box">
    <div class="color_band"></div>
    <div class="app_icon_box"><img src="#"></div>
    <div class="app_info_box">
      <p><strong><%= project.name %></strong><br><small>Version: 0.0.1<br></small></p>
      <p><small>Date: 14.MAR.20 9:20pm<br>
        <%= link_to 'Show ', project %>
        <%= link_to 'Edit ', edit_project_path(project) %>
        <%= link_to 'Destroy ', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      </small></p>
    </div>
    <div class="test_fail_box">
      <p>Test Fail</p>
    </div>
  </div>
  <% end %>

  <%= link_to 'New Project', new_project_path %> 
</div>

