<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	

		<div class="col-md-12 contents">
			<div class="page-title">
        		<img src="/assets/Dashboard.png">Dashboard
        	</div>
			

			<% if @recent_report %>
			<span class="page-subtitle">Recent Test Overview</span>

			<div id="overview-box">
				<div class="col-md-2" id="app-info-box">
					<p><%= @recent_report.apk_name %></p>
					<p><%= @recent_report.test_date %></p>
					<p><%= @recent_report.number_of_scenarios %> Test Scenarios</p>
					<p><%= @recent_report.number_of_devices %> Devices</p>
				</div>
				<div class="col-md-2" id="app-version-box">
					<p>App version</p>
					<p class="big-version"><%= @recent_report.app_version %></p>
				</div>
				<div class="col-md-6" id="test-fail-box">
					<div class='band-chart-segment'>
						<div class='band-chart-label A'>A</div>
						<div class='band-chart'>
							<div class='band-chart-success A'>
								<div class='band-chart-fail' style="width:20%"></div>
							</div>
						</div>
					</div>
					<div class='band-chart-segment'>
						<div class='band-chart-label B'>B</div>
						<div class='band-chart'>
							<div class='band-chart-success B'>
								<div class='band-chart-fail' style="width:20%"></div>
							</div>
						</div>
					</div>
					<div class='band-chart-segment'>
						<div class='band-chart-label C'>C</div>
						<div class='band-chart'>
							<div class='band-chart-success C'>
								<div class='band-chart-fail' style="width:20%"></div>
							</div>
						</div>
					</div>
					<div class='band-chart-segment'>
						<div class='band-chart-label D'>D</div>
						<div class='band-chart'>
							<div class='band-chart-success D'>
								<div class='band-chart-fail' style="width:20%"></div>
							</div>
						</div>
					</div>
				</div>
				<%= javascript_tag do %>
					band_chart_exception('.band-chart-segment', 4);
					//if ( no fail ) {
	                //  $('.A/B/C/D').find('.test_fail').css('visibility','hidden');
	                //}
				<% end %>
				<div class="col-md-2 report-link">
					<%= link_to project_total_report_path(@project, @recent_report)  do %>
						<div class="full-report"></div>
					<% end %>
				</div>
			</div>

			<div id="test_fail_graph">
				<div id="test_fail_bar_graph">
				</div>
				<div id="test_fail_chart">
					<div class="table_title">
						<span id="table_title_rank"></span>
						<span id="table_title_device_name" class="device_name"></span>
					</div>
				</div>
			</div>
			<span class="page-subtitle">Project Trends</span>
			<div id="project-trends" class="row">
				<div id="test-results" class="trend-div col-md-12">
					<p>Test results</p>
				</div>
				<div id="cpu-trend" class="trend-div col-md-4">
					<p>CPU usage trend</p>
				</div>
				<div id="mem-trend" class="trend-div col-md-4">
					<p>Memory usage trend</p>
				</div>
				<div id="network-trend" class="trend-div col-md-4">
					<p>Network response time trend</p>
				</div>
				<div id="battery-trend" class="trend-div col-md-4">
					<p>Battery consumption trend</p>
				</div>
				<div id="thread-trend" class="trend-div col-md-4">
					<p>Thread trend</p>
				</div>
				<div id="frame-trend" class="trend-div col-md-4">
					<p>Frame draw time trend</p>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
  //requires data inserted as argument//

var data = {
	
	"fail_data_detail" : [
		{
			"device_name":"Galaxy S2",
			"os_version":"2.3",
			"fail_data": {
				"A": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"B": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"C": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"D": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}]
			}
		},
		{
			"device_name":"LG Optimus",
			"os_version":"2.2",
			"fail_data":{
				"A": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"B": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"C": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"D": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}]
			}
		},
		{
			"device_name":"Nexus S",
			"os_version":"2.3",
			"fail_data":{
				"A": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"B": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"C": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"D": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}]
			}
		},
		{
			"device_name":"Nexus 7",
			"os_version":"4.4",
			"fail_data":{
				"A": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"B": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"C": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"D": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}]
			}
		},
		{
			"device_name":"Galaxy S4",
			"os_version":"4.3",
			"fail_data":{
				"A": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"B": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"C": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}],
				"D": [{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"},
					{"scenario_name":"login test","error_message":"out of memory error","link":"#"}]
			}
		}
	],

	"test_results_data": [
		{"pass":5,"warning":4,"failure":3},
		{"pass":5,"warning":4,"failure":3},
		{"pass":5,"warning":4,"failure":3},
		{"pass":6,"warning":4,"failure":2},
		{"pass":6,"warning":4,"failure":2},
		{"pass":6,"warning":4,"failure":2},
		{"pass":7,"warning":3,"failure":2},
		{"pass":7,"warning":3,"failure":2},
		{"pass":9,"warning":2,"failure":1},
		{"pass":9,"warning":2,"failure":1}
	],

	"cpu_trend_data": [
		{"max": 90,"avg": 30,"min": 10},
		{"max": 100,"avg": 35,"min": 10},
		{"max": 85,"avg": 25,"min": 10},
		{"max": 90,"avg": 30,"min": 10},
		{"max": 85,"avg": 30,"min": 10},
		{"max": 90,"avg": 40,"min": 5},
		{"max": 90,"avg": 30,"min": 5},
		{"max": 80,"avg": 20,"min": 10},
		{"max": 80,"avg": 20,"min": 10},
		{"max": 80,"avg": 20,"min": 10}
	],

	"mem_trend_data": [
		{"max": 510,"avg": 100,"min": 50},
		{"max": 510,"avg": 120,"min": 40},
		{"max": 510,"avg": 130,"min": 40},
		{"max": 510,"avg": 110,"min": 50},
		{"max": 300,"avg": 90,"min": 40},
		{"max": 480,"avg": 110,"min": 50},
		{"max": 240,"avg": 130,"min": 50},
		{"max": 400,"avg": 100,"min": 40},
		{"max": 500,"avg": 120,"min": 40},
		{"max": 200,"avg": 90,"min": 50}
	],

	"net_trend_data": [
		{"max": 300,"avg": 100,"min": 50},
		{"max": 300,"avg": 100,"min": 50},
		{"max": 700,"avg": 80,"min": 50},
		{"max": 200,"avg": 100,"min": 50},
		{"max": 300,"avg": 120,"min": 50},
		{"max": 400,"avg": 80,"min": 50},
		{"max": 200,"avg": 100,"min": 50},
		{"max": 400,"avg": 100,"min": 50},
		{"max": 350,"avg": 100,"min": 50},
		{"max": 300,"avg": 100,"min": 50}
	],

	"battery_trend_data": [
		{"max": 100,"avg": 30,"min": 10},
		{"max": 100,"avg": 35,"min": 11},
		{"max": 100,"avg": 34,"min": 12},
		{"max": 100,"avg": 38,"min": 14},
		{"max": 100,"avg": 25,"min": 13},
		{"max": 100,"avg": 29,"min": 9},
		{"max": 100,"avg": 33,"min": 12},
		{"max": 100,"avg": 27,"min": 14},
		{"max": 100,"avg": 33,"min": 11},
		{"max": 100,"avg": 36,"min": 11}
	],

	"thread_trend_data": [
		{"max": 18,"avg": 14,"min": 7},
		{"max": 19,"avg": 14,"min": 8},
		{"max": 17,"avg": 13,"min": 7},
		{"max": 20,"avg": 13,"min": 8},
		{"max": 23,"avg": 14,"min": 8},
		{"max": 19,"avg": 13,"min": 8},
		{"max": 22,"avg": 14,"min": 7},
		{"max": 21,"avg": 15,"min": 8},
		{"max": 22,"avg": 14,"min": 8},
		{"max": 20,"avg": 14,"min": 7}
	],

	"frame_trend_data": [
		{"max": 35,"avg": 4,"min": 1},
		{"max": 37,"avg": 5,"min": 1},
		{"max": 34,"avg": 4.5,"min": 1},
		{"max": 35,"avg": 4,"min": 1},
		{"max": 25,"avg": 6,"min": 1},
		{"max": 26,"avg": 5,"min": 1},
		{"max": 22,"avg": 4.5,"min": 1},
		{"max": 18,"avg": 4.5,"min": 1},
		{"max": 19,"avg": 4,"min": 1},
		{"max": 18,"avg": 4.5,"min": 1}
	]
}

  drawFailByDevice(data.fail_data_detail);
  drawTestResults(data.test_results_data);
  drawCPUusage(data.cpu_trend_data);
  drawMemUsage(data.mem_trend_data);
  drawNetworkTrend(data.net_trend_data);
  drawBatteryTrend(data.battery_trend_data);
  drawThreadTrend(data.thread_trend_data);
  drawFrameTrend(data.frame_trend_data);
</script>
