<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	

		<div class="col-md-12 contents">
			<div class="page-title">
        		<img src="/assets/dashboard.png">Dashboard
        	</div>
			
			<% if @recent_report %>
			<div class="dashboard">
				<div class="dashboard-left">
					<div class="total-report-brief">
						<div class="apk-name"><b><%= @recent_report.apk_name %></b></div>
						<div class="brief-left">
							<div class="app-version">
								<p>App Version</p>
								<p class="app-version-big"><%= @recent_report.app_version %></p>
							</div>
						</div>
						<div class="brief-right">
							<p><%= @recent_report.test_date %></p>
							<p><%= @recent_report.number_of_scenarios %> Test scenarios</p>
							<p><%= @recent_report.number_of_devices %> Devices</p>
						</div>
						<span class="more"><%= link_to project_total_report_path(@project, @recent_report) do %>
						<div class="full-report"></div>
					<% end %></span>
					</div>
					
					<div class="total-report-test-result">
						<p>Test Result</p>
						<div id="band-graph"></div>
						<% @recent_report.test_rank_status.each do |v, k| %>
							<%=	javascript_tag do %>
								addBandGraph("<%= v.to_s %>",<%= k[1] %>,<%= k[0] %>);
							<% end %>
						<% end %>
						<div class="band-graph-legend">
							<img src="/assets/legend1.png">
						</div>
					</div>
				</div>
				<div class="dashboard-right">
					<span class="page-subtitle">Test Errors</span>
						<p class="more"><u>More Errors</u></p>
					<div class="dashboard-test-error">
						<table class="test-error-table">
							<thead>
								<tr>
									<th>Rank</th>
									<th>Error Count</th>
									<th>Error Name</th>
								</tr>
							</thead>
							<tbody>
								<% @recent_report.crashes.each do |crash| %>
								<tr>
									<td><div class="rank <%= crash.error_rank %>"><%= crash.error_rank %></div></td>
									<td><%= crash.error_count %></td>
									<td><%= crash.error_name %><br/><%= crash.error_line %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<span class="page-subtitle">Device Fail</span>
			<div class="device-fail">
				<div id="test_fail_bar_graph">
				</div>
				<div class="test_fail_bar_graph_legend">
					<img src="/assets/legend2.png">
				</div>
				<div id="test_fail_chart">
					<div class="table_title">
						<span id="table_title_rank" class="test_rank"></span>
						<span id="table_title_device_name" class="device_name"></span>
					</div>
					<table id="detail_table" class="detail_table">
						<tr><td>click on bar graph left for more detail</td></tr>
					</table>
				</div>
			</div>


			<span class="page-subtitle">Project Trends</span>
			<div id="project-trends" class="row">
				<div class="trend-div col-md-12">
					<div id="test-results"><p>Test results</p>
					</div>
					<div id="test-results-legend">
						<img src="/assets/legend_pwf.png">
					</div>
				</div>
				<div class="trend-div col-md-4">
					<p>CPU usage trend</p>
					<div id="cpu-trend"></div>
					<div class="trend-avg-legend">
						<img src="/assets/legend_mam.png">
					</div>
				</div>
				<div class="trend-div col-md-4">
					<p>Memory usage trend</p>
					<div id="mem-trend"></div>
					<div class="trend-avg-legend">
						<img src="/assets/legend_mam.png">
					</div>
				</div>
				<div class="trend-div col-md-4">
					<p>Network response time trend</p>
					<div id="network-trend"></div>
					<div class="trend-avg-legend">
						<img src="/assets/legend_mam.png">
					</div>
				</div>
				<div class="trend-div col-md-4">
					<p>Battery consumption trend</p>
					<div id="battery-trend"></div>
					<div class="trend-avg-legend">
						<img src="/assets/legend_mam.png">
					</div>
				</div>
				<div class="trend-div col-md-4">
					<p>Thread trend</p>
					<div id="thread-trend"></div>
					<div class="trend-avg-legend">
						<img src="/assets/legend_mam.png">
					</div>
				</div>
				<div class="trend-div col-md-4">
					<p>Frame draw time trend</p>
					<div id="frame-trend"></div>
					<div class="trend-avg-legend">
						<img src="/assets/legend_mam.png">
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<%= javascript_tag do %>

d3.json("/api/v1/total_reports/<%= @recent_report.id %>/device_failure_detail", function(data){
	var data = data;
	drawFailByDevice(data.device_failure_detail);
});

<% end %>

<script>

$(function () {
	$(".dashboard-right").css("height",$(".dashboard-left").css("height"));
})

var data = {

	"test_results_data": [
		{"pass":5,"warning":4,"failure":3},
		{"pass":5,"warning":4,"failure":3},
		{"pass":5,"warning":4,"failure":3},
		{"pass":6,"warning":4,"failure":2},
		{"pass":6,"warning":4,"failure":2},
		{"pass":6,"warning":4,"failure":2},
		{"pass":7,"warning":3,"failure":2},
		{"pass":7,"warning":3,"failure":2},
		{"pass":9,"warning":2,"failure":1},
		{"pass":9,"warning":2,"failure":1}
	],

	"cpu_trend_data": [
		{"max": 90,"avg": 30,"min": 10},
		{"max": 100,"avg": 35,"min": 10},
		{"max": 85,"avg": 25,"min": 10},
		{"max": 90,"avg": 30,"min": 10},
		{"max": 85,"avg": 30,"min": 10},
		{"max": 90,"avg": 40,"min": 5},
		{"max": 90,"avg": 30,"min": 5},
		{"max": 80,"avg": 20,"min": 10},
		{"max": 80,"avg": 20,"min": 10},
		{"max": 80,"avg": 20,"min": 10}
	],

	"mem_trend_data": [
		{"max": 510,"avg": 100,"min": 50},
		{"max": 510,"avg": 120,"min": 40},
		{"max": 510,"avg": 130,"min": 40},
		{"max": 510,"avg": 110,"min": 50},
		{"max": 300,"avg": 90,"min": 40},
		{"max": 480,"avg": 110,"min": 50},
		{"max": 240,"avg": 130,"min": 50},
		{"max": 400,"avg": 100,"min": 40},
		{"max": 500,"avg": 120,"min": 40},
		{"max": 200,"avg": 90,"min": 50}
	],

	"net_trend_data": [
		{"max": 300,"avg": 100,"min": 50},
		{"max": 300,"avg": 100,"min": 50},
		{"max": 700,"avg": 80,"min": 50},
		{"max": 200,"avg": 100,"min": 50},
		{"max": 300,"avg": 120,"min": 50},
		{"max": 400,"avg": 80,"min": 50},
		{"max": 200,"avg": 100,"min": 50},
		{"max": 400,"avg": 100,"min": 50},
		{"max": 350,"avg": 100,"min": 50},
		{"max": 300,"avg": 100,"min": 50}
	],

	"battery_trend_data": [
		{"max": 100,"avg": 30,"min": 10},
		{"max": 100,"avg": 35,"min": 11},
		{"max": 100,"avg": 34,"min": 12},
		{"max": 100,"avg": 38,"min": 14},
		{"max": 100,"avg": 25,"min": 13},
		{"max": 100,"avg": 29,"min": 9},
		{"max": 100,"avg": 33,"min": 12},
		{"max": 100,"avg": 27,"min": 14},
		{"max": 100,"avg": 33,"min": 11},
		{"max": 100,"avg": 36,"min": 11}
	],

	"thread_trend_data": [
		{"max": 18,"avg": 14,"min": 7},
		{"max": 19,"avg": 14,"min": 8},
		{"max": 17,"avg": 13,"min": 7},
		{"max": 20,"avg": 13,"min": 8},
		{"max": 23,"avg": 14,"min": 8},
		{"max": 19,"avg": 13,"min": 8},
		{"max": 22,"avg": 14,"min": 7},
		{"max": 21,"avg": 15,"min": 8},
		{"max": 22,"avg": 14,"min": 8},
		{"max": 20,"avg": 14,"min": 7}
	],

	"frame_trend_data": [
		{"max": 35,"avg": 4,"min": 1},
		{"max": 37,"avg": 5,"min": 1},
		{"max": 34,"avg": 4.5,"min": 1},
		{"max": 35,"avg": 4,"min": 1},
		{"max": 25,"avg": 6,"min": 1},
		{"max": 26,"avg": 5,"min": 1},
		{"max": 22,"avg": 4.5,"min": 1},
		{"max": 18,"avg": 4.5,"min": 1},
		{"max": 19,"avg": 4,"min": 1},
		{"max": 18,"avg": 4.5,"min": 1}
	]
}

  drawTestResults(data.test_results_data);
  drawCPUusage(data.cpu_trend_data);
  drawMemUsage(data.mem_trend_data);
  drawNetworkTrend(data.net_trend_data);
  drawBatteryTrend(data.battery_trend_data);
  drawThreadTrend(data.thread_trend_data);
  drawFrameTrend(data.frame_trend_data);
</script>
