<h1>Listing motion_events</h1>

<table>
  <thead>
    <tr>
      <th>Seq</th>
      <th>Time stamp</th>
      <th>Sleep</th>
      <th>Activity class</th>
      <th>Action type</th>
      <th>Param</th>
      <th>View</th>
      <th>Report</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @motion_events.each do |motion_event| %>
      <tr>
        <td><%= motion_event.seq_id %></td>
        <td><%= motion_event.time_stamp %></td>
        <td><%= motion_event.sleep %></td>
        <td><%= motion_event.activity_class %></td>
        <td><%= motion_event.action_type %></td>
        <td><%= motion_event.param %></td>
        <td><%= motion_event.view %></td>
        <td><%= motion_event.report_id %></td>
        <td><%= link_to 'Show', motion_event %></td>
        <td><%= link_to 'Edit', edit_motion_event_path(motion_event) %></td>
        <td><%= link_to 'Destroy', motion_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motion event', new_motion_event_path %>
