<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
  	<%= render 'shared/side_bar' %>

  	<div class="col-md-12 contents">
  		<div class="apk-upload-head">
        <img src="/assets/Dashboard.png">APK Upload
      </div>

  		<div class="jumbotron" id="apk-upload-section">
				<div id="apk-upload-header">
					<h1 id="apk-upload-header1">Drop Or Click Upload your APK</h1>
				</div>
				<div id="apk-upload-form">
					<%= form_for [@project, @apk] do |f| %>
						<div class="field">
							<%= f.file_field :apk %>
						</div>
						<div class="pull-right">
							<%= f.submit "Upload", class: "btn btn-large btn-primary" %>
						</div>
					<% end %>  		
		  	</div>
			</div>	
  	</div>
	</div>
</div>

