<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
  	<%= render 'shared/side_bar' %>

  	<div class="col-md-12 contents">
		<div class="page-title">
			<img src="/assets/starttest.png">APK Upload
		</div>

			<%= form_for [@project, @apk], html: {multipart: true, id: "fileupload"} do |f| %>
	  		<div class="jumbotron fileinput-button" id="apk-upload-section" style="width:100%;">
					<div id="apk-upload-header">
						<h1 id="apk-upload-header1"><img src="/assets/starttest.png" class="folder-img">Drop Or Click Upload your APK</h1>
					</div>
					<div id="apk-upload-form">
						<%= f.file_field :apk, id: 'upload-field', class: "apk-upload-field", multiple: false %>
			  	</div>
			  	
				</div>
			<% end %>
			<div class="pull-right">
				<%= link_to 'Upload', '#', class: "btn btn-primary hidden", id: "upload-button" %>
			</div>

			<div class="table-wrapper">
			<table class="apk-new-table">
				<tr>
					<th>APK Name</th>
					<th>Test APK</th>
					<th>Upload Date</th>
					<th></th>
					<th></th>
				</tr>
					<% @apks.each do |apk| %>
						<tr>
							<td><%= apk.apk_name %></td>
							<% if apk.test_apk %>
								<td><%= link_to apk.test_apk_name, apk.test_apk %></td>
							<% else %>
								<td>trasforming...</td>
							<% end %>								
							<td><%= apk.upload_date %></td>
							<td><%= link_to "Start Test", project_apk_path(@project, apk), class: "btn btn-large btn-primary" %></td>
							<td><%= link_to "Delete", project_apk_path(@project, apk), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger" %></td>
						</tr>
					<% end %>
			</table>
			</div>
  	</div>
	</div>
</div>