<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
  	<%= render 'shared/side_bar' %>

  	<div class="col-md-12 contents">
  		<div class="apk-upload-head">
        <img src="/assets/Dashboard.png">APK Upload
      </div>

  		<div class="jumbotron" id="apk-upload-section">
				<div id="apk-upload-header">
					<h1 id="apk-upload-header1">Drop Or Click Upload your APK</h1>
				</div>
				<div id="apk-upload-form">
					<%= form_for [@project, @apk] do |f| %>
						<div class="field">
							<%= f.file_field :apk %>
						</div>
						<div class="pull-right">
							<%= f.submit "Upload", class: "btn btn-large btn-primary" %>
						</div>
					<% end %>
		  	</div>
			</div>	

			<table class="table">
				<tr>
					<th>APK Name</th>
					<th>Test APK</th>
					<th>Upload Date</th>
					<th></th>
					<th></th>
				</tr>
					<% @apks.each do |apk| %>
						<tr>
							<td><%= apk.apk_name %></td>
							<td><%= link_to apk.test_apk_name, apk.test_apk %></td>
							<td><%= apk.upload_date %></td>
							<td><%= link_to "Start Test", apk_total_reports_path(apk), method: :post, class: "btn btn-large btn-primary" %></td>
							<td><%= link_to "Delete", project_apk_path(@project, apk), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger" %></td>
						</tr>
					<% end %>
			</table>
  	</div>
	</div>
</div>