<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
  	<%= render 'shared/side_bar' %>
  </div>
		<div class="col-md-12 contents">
			<div class="page-title">
				<img src="/assets/starttest.png">Test Ready
			</div>
      
				<div class="apk-head">
					<h3><%= @apk.apk_name %></h3>
					<p>Package Name: <%= @apk.package_name %></p>
					<p>Activity Name: <%= @apk.activity_name %></p>
					<p>Minimum SDK: <%= @apk.min_sdk %></p>
					<p>Test APK: test.apk</p>
				</div>

				<span class="page-subtitle">Test List</span>
				<div class="test-options-list">
					<%= form_for [@apk, @total_report] do |f| %>
						<div class="col-md-6 test-list">
							<%= f.fields_for "test_scenario_ids" do |form| %>
								<div>
									<h4>Test Scenario Choice</h4>
									<p><label><input type="checkbox" id="checkAll"/>All</label></p>
								</div>
								<% @test_scenarios.each do |test_scenario| %>
									<div class="test-scenario-item">
										<%= form.check_box test_scenario.id %>
										<%= test_scenario.name %>
									</div>
								<% end %>
							<% end %>
						</div>
						<div class="col-md-6 device-list">
							<% if @device_list %>
								<% @device_list.each do |device| %>
									<div class="device-item">
										<p><%= device["model"] %>&nbsp;<%= device["brand"] %>&nbsp;<%= device["os_version"] %>&nbsp;<%= device["cpu"] %><p>
									</div>
								<% end  %>
							<% end %>
						</div>
						<div class="pull-right">
							<%= f.submit "Start Test", class: "btn btn-large btn-primary" %>
						</div>
					<% end %>
				</div>
			
			
		</div>
</div>