<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
  	<%= render 'shared/side_bar' %>
  </div>
		<div class="col-md-12 contents">
			<div class="apk-upload-head">
        <img src="/assets/Dashboard.png">Test Ready
      </div>
			<div class="jumbotron">
				<h3><%= @apk.apk_name %></h3>
				<p>Package Name  <%= @apk.package_name %></p>
				<p>Activity Name  <%= @apk.activity_name %></p>
				<p>Minimum SDK  <%= @apk.min_sdk %></p>
				<p>Test APK  <%= link_to @apk.test_apk_name, @apk.test_apk %></p>
			</div>

			<div class="total-report-form">
				<%= form_for [@apk, @total_report] do |f| %>
					<div class="col-md-6 jumbotron">
						
					</div>		
					<div class="col-md-6 jumbotron">
					</div>
					<div class="pull-right">
						<%= f.submit "Start Test", class: "btn btn-large btn-primary" %>
					</div>
				<% end %>
			</div>
		</div>
</div>

