<%= stylesheet_link_tag  "dashboard" %>

<%= render "shared/header" %>

<div class="container-fluid">
  <div class="row">
    <%= render 'shared/side_bar' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Listing reports</h1>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Package name</th>
            <th>Icon</th>
            <th>App version</th>
            <th>Os version</th>
            <th>Time for test</th>
            <th>Project</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td><%= report.package_name %></td>
              <td><%= report.icon %></td>
              <td><%= report.app_version %></td>
              <td><%= report.os_version %></td>
              <td><%= report.time_for_test %></td>
              <td><%= report.project_id %></td>
              <td><%= link_to 'Show', report %></td>
              <td><%= link_to 'Edit', edit_report_path(report) %></td>
              <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




<br>

<%= link_to 'New Report', new_report_path %>
